# Python virtual environment
venv/
.venv/
*.egg-info/
dist/
build/

# Local SQLite database & state
*.db
*.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# OS & Editor files
.DS_Store
.vscode/
.idea/
